---
layout: default
title: Staff
card: true
---
{% include components/atoms/heading.html heading_level=1 heading=page.title %}

<ul class="u-space-y-3">
  {% for author in site.authors %}
      {% capture author_link %}
        {% include components/atoms/link.html link=author.url link_text=author.name %}
      {% endcapture %}

      {% capture author_content %}
        {{ author.content | markdownify }}
      {% endcapture %}

    <li>
      {% include components/molecules/card.html card_type="author" card_classes="hover:u-bg-grey-25 u-p-3" img_src=author.author_image img_alt=author.author_image_alt title=author_link content=author_content %}
    </li>
  {% endfor %}
</ul>