---
layout: default
title: Staff
---
{% include components/atoms/heading.html heading_level=1 heading=page.title %}

<ul>
  {% for author in site.authors %}
    <li>
      <!-- {% if author.author_image %}
        {% include components/atoms/image.html img_src=author.author_image img_alt=author.author_image_alt class="" %}
      {% endif %}
      -->

      {% capture author_link %}
        {% include components/atoms/link.html link=author.url link_text=author.name %}
      {% endcapture %}
      {% include components/atoms/heading.html heading=author_link %}

      {% include components/atoms/heading.html heading_level=3 heading=author.position %}
      <p>{{ author.content | markdownify }}</p>
    </li>
  {% endfor %}
</ul>