.overlay {
  height: 0;
  transition: 0.5s;
  .overlay a {
    transition: 0.3s;
  }
}
//
//.navbar-nav {
//  .nav-item.dropdown {
//    &:hover {
//      .dropdown-menu {
//        @apply u-block;
//      }
//    }
//  }
//}