/*@import "~typi/scss/typi";

$breakpoints: (
  small: $--screens--sm,
  medium: $--screens--md,
  large: $--screens--lg,
  xl: $--screens--xl,
  xxl: $--screens--xxl,
);

$lh: (
  0: 20px,
  1: 24px,
  2: 28px,
  3: 34px,
  4: 48px,
  5: 54px,
  6: 72px,
  7: 88px,
);

$typi: (
  base: (
    null: (
      ms(0),
      1.5em,
    ),
    large: (
      ms(0),
      1.5em,
    ),
  ),
  h1: (
    null: (
      ms(3),
      map-get($lh, 3),
    ),
    xl: (
      ms(4.8),
      map-get($lh, 4),
    ),
    xxl: (
      ms(5.4),
      map-get($lh, 5),
    ),
  ),
  h2: (
    null: (
      ms(2.4),
      map-get($lh, 2),
    ),
    xl: (
      ms(3.2),
      map-get($lh, 3),
    ),
    xxl: (
      ms(4),
      map-get($lh, 4),
    ),
  ),
  h3: (
    null: (
      ms(1.7),
      map-get($lh, 1),
    ),
    xl: (
      ms(2.4),
      map-get($lh, 2),
    ),
    xxl: (
      ms(3.2),
      map-get($lh, 3),
    ),
  ),
  h4: (
    null: (
      ms(1.1),
      map-get($lh, 0),
    ),
    xl: (
      ms(1.6),
      map-get($lh, 1),
    ),
    xxl: (
      ms(2.4),
      map-get($lh, 2),
    ),
  ),
  h5: (
    null: (
      ms(1),
      map-get($lh, 0),
    ),
    xl: (
      ms(1.2),
      map-get($lh, 1),
    ),
    xxl: (
      ms(1.6),
      map-get($lh, 1),
    ),
  ),
  h6: (
    null: (
      ms(0.25),
      map-get($lh, 0),
    ),
    xl: (
      ms(0.5),
      map-get($lh, 1),
    ),
  ),
);

@include typi-init;
@include typi-create-classes;
*/