<nav id="nav-bar" class="navbar navbar-expand-lg navbar-dark bg-dark u-flex-col-reverse u-items-end lg:u-items-start">
    <button class="navbar-toggler" @click="isOpen = !isOpen" type="button" data-toggle="collapse" data-target="#navy-collapse" aria-controls="navy-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navy-collapse" :class="{ 'show': isOpen}">
        <ul class="navbar-nav mr-auto">
          {% for item in site.data.navigation %}
            <li class="nav-item {% if page.url == item.link %}active{% endif %} {% if item.children %}dropdown{% endif %}" {% if item.children %}@click="isOpen = !isOpen"{% endif %}>
                {% capture nav_link_classes %}
                    nav-link {% if item.children %}dropdown-toggle{% endif %}
                {% endcapture %}
                {% include components/atoms/link.html link_classes=nav_link_classes link=item.link link_text=item.name %}

                {% if item.children %}
                    <div class="dropdown-menu" :class="{ 'show': isOpen}">
                        {% for child in item.children %}
                            {% include components/atoms/link.html link_classes="dropdown-item" link=child.link link_text=child.name %}
                        {% endfor %}
                    </div>
                {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
</nav>
