$theme-colors: (
  primary: $--colors--primary,
  secondary: $--colors--secondary,
  tertiary: $--colors--tertiary,
  success: $--colors--success,
  danger: $--colors--danger,
  warning: $--colors--warning,
  light: $--colors--light,
  twitter: $--colors--twitter,
  instagram: $--colors--instagram,
  youtube: $--colors--youtube,
  facebook: $--colors--facebook,
  linkedin: $--colors--linkedin,
);
