---
layout: default
card: true
---
{% capture page_title %}
  {{ page.name }}'s Landing Page
{% endcapture %}

{% include components/atoms/heading.html heading_level=1 heading=page_title %}

{{ content }}

{% include components/atoms/heading.html heading="Posts" %}
<ul class="u-space-y-6">
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <li>
      {% include components/molecules/card.html img_src=post.image img_alt=post.image_alt title=post.title content=post.excerpt link=post.url link_text="Read More" %}
    </li>
  {% endfor %}
</ul>